<div class="body_section_white_details wf-section">
    <div class="body_div_1400_flex2">
        <div class="about_left center">
            <h2 class="sub_heading_no_margin first">search results</h2>
            <h1 class="page_headings_less_margin">No Vehicles Found.</h1>
        </div>
        <div class="contact_right">
            <img src="assets/images/Untitled-design-14.jpg" loading="lazy"
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 38vw, (max-width: 1919px) 37vw, 544px"
                srcset="assets/images/Untitled-design-14-p-500.jpeg 500w, assets/images/Untitled-design-14-p-800.jpeg 800w, assets/images/Untitled-design-14.jpg 1000w"
                alt="Purchase a used car in south africa." class="about_image">
        </div>
    </div>
</div>